body {
    background-color: rgb(245, 215, 115);
    color: rgb(245, 245, 205);
}

hr {
    border-style: solid;
    border-color: rgb(245, 245, 205);
}

.content-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    align-items: center;
    text-align: left;
    width: 605px;
    height: 280px;
}

.content {
    width: 300px;
    text-align: left;
    word-wrap: break-word;
}

.input-container {
    white-space: nowrap;
    overflow-x: auto;
}
.nameinput {
    display: inline-block;
    background-color: rgb(245, 215, 115);
    color: rgb(245, 245, 205);
    border: 2px solid transparent;
    outline: 5px solid transparent;
    /*outline: 5px solid rgb(245, 245, 205);*/
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
}
.nameinput::placeholder {
    color: rgb(245, 245, 205);
}



/* game */
#game-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
}

.game {
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(245, 245, 205);
    padding: 10px;
    margin: 10px;
    height: 250px;
    width: 100%;
}
.game-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%
}
.game-icon {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.game-title {
    font-size: 50px;
    font-weight: bold;
}
.game p {
    margin: 0%;
}
.game-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 450px;
}
.game-littledetails {
    margin-top: auto;
}

.button-container {
    height: 100%;
    width: 25%;
    padding-left: 10px;
}

.button-play {
    background-color: rgb(255, 241, 117);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    line-height: 500%;
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: background-color 1s ease;
}

.button-play:hover {
    background-color: rgb(245, 245, 205);
}

#button-load {
    background-color: rgb(100, 170, 226);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: background-color 1s ease;
}
